<style>
body {
    background-image: url(../images/mainPic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0px;
    background-attachment: fixed;
    z-index:-1;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}
*/
p{
    font-family: "Lucida Console", Monaco, monospace;
	line-height: 150%;
	color: dark;
}
/*
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
*/
div.img {
    margin: 4px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#main{
	padding:200px;
	background-color: rgba(0, 0, 0, 0.2);
	background-color: wheat;
	margin-top:-20px;
	height:40000px;
}

#Wandering{
	font-family: 'Brush Script MT', cursive;
	color:brown;
	font-size: 95px;
	margin-top:-300px;
	margin-left:-340px;
}

#Reflections{
	font-family: 'Brush Script MT', cursive;
	color:darkcyan;
	font-size: 95px;
	margin-top:-5px;
	margin-left:655px;
}

#titlecontainer{
  position: relative;
  padding: 10px;
  margin-top:0px;
  height:50px;
  margin-left:200px;
  top: -80px;
  left: -60px;
  z-index: 999;
  width: 70%;	
  
}

#mainPic{
  width:100%;
  height:200px;
  margin-left:0px;
  margin-top:-50px;
}

#leftTree{
  width:40%;
  height:200px;
  margin-left:-340px;
  margin-top:-120px;
}


#container{ 
	padding:120px;
	margin-top:-60px;
	height:1500px;
}

#bgImage {
	width:100%;
	height:auto;
	background-attachment:fixed;
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


/*Image dropdown stuff */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

</style>