.group-share li{
	display: inline-block;
	margin-left: 6px;
}
.group-share li a{
	width: 27px;
	height: 27px;
    line-height: 27px;
	text-align: center;
	font-size: 13px;
	border: 1px solid $(maincolor);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
}
.group-share li a:hover{
	color: #ffffff;
    border-color: $(maincolor);
    background: $(maincolor);
}
